.post {
    border: solid 3px #787878;
    width: 900px;
    height: 250px;
    margin-top: 2rem;
    padding-left: 60px;
    padding-top: 2rem;
}
//User Posts
// .post {
//     margin-top: 2rem;
//     border: solid 2px #787878;
//     height: 15vh;
//     width: 70%;
// }

// .user-input {
//     margin-top: 2.5rem;
    
//     input {
//         padding: 20px 10px;
//         font-family: "Roboto", sans-serif;
//         font-weight: bold;
//     }
//     input::placeholder {
//         font-family: "Lobster Two";
//         font-weight: bold;
//     }
// }

#user-avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 1.3rem;
}

#post-box {
    width: 500px;
    
}

// #post-button {
//     color: #787878;
//     font-weight: bold;
//     font-family: "Roboto", sans-serif;
//     padding: 5px 20px;
//     border: solid 2px #1adcad;
// }
// #post-button:active {
//     transform: scale(0.98);
// }
// #post-button:hover {
//     color: #1adcad;
// }

// Postings
.feed-posts {
    border: solid 2px #787878;
    margin-top: 1rem;
}