.post {
  border: solid 3px #1adcad;
  width: 900px;
  height: 250px;
  margin-top: 2rem;
  padding-left: 60px;
  padding-top: 2rem;
}

#user-avatar {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin-right: 1.3rem;
}

// Postings
.feed-posts {
  margin-top: 1rem;
  color: white;
  font-family: "Roboto", sans-serif;
}

.post-box {
  border: solid 2px #1adcad;
  margin-bottom: 1rem;

  p {
    text-align: center;
  }
}

#post-btn {
  margin-left: 3rem;
  margin-top: 0.2rem;
  color: white;
}

.post-avatar {
  border-radius: 50px;
  height: 64px;
  width: 64px;
}

.dd-toggle {
  background: black;
  border: solid 1px #1adcad;
  box-shadow: none;
}



