
#inputs {
    background: rgb(32, 32, 32);
    border: solid 3px #1f1f1f;    
    margin-top: 1.5rem;
    font-weight: bold;
    color: #787878;
}
#inputs:focus {
    border: solid 3px #1ADCAD;
    outline: none;
}

#login-button {
    color: #787878;
    margin-top: 1.5rem;
    border: solid 3px #1ADCAD;
    background: rgb(32, 32, 32);
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 25px;
    transition: all .6s ease;
    
}
#login-button:hover {
    background: #1ADCAD;
    color:rgb(32, 32, 32);
    outline: none;
}
