// Info Bar
.info-bar {
  border: solid 2px #1adcad;
  min-height: 6vh;
}

#arrow {
  color: #1adcad;
  cursor: pointer;
}
#arrow:active {
  transform: scale(0.85);
}

// User Info
.user-info {
  border: solid 2px #1adcad;
  margin-top: 1rem;
  
}

.info-container { 
  color: white;
  font-family: "Roboto", sans-serif;
}

.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 1rem;
}

.edit-profile-btn {
  color: white;
  background-color: black;
  border-color: #1adcad;
  border-radius: 25px;
  font-weight: bold;
  padding: 5px 10px;
  margin-top: 2rem;
}

// .bio {
//   margin-top: 6px;
// }
.bio-text {
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

//Modal
.modal {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background: transparent;
  margin-top: 5rem;

  button {
    color: white;
  }
  button:hover {
    color: #1adcad;
  }

  #modal-btn {
    background-color: #1c1c1c;
    font-weight: bold;
    border: solid 2px #1adcad;
  }
  #modal-btn:focus {
    box-shadow: none;
  }
}

.profile-posts {
  border: solid 1px #1adcad;
  text-align: center;

  img {
    width: 50%;
    height: auto;
  }
}

.city-dates {
  text-align: center;
  margin-bottom: 0.4rem;

}

