@import "~bootstrap/scss/bootstrap";
@import "./login";
@import "./register";
@import "./feed";
@import "./nav";
@import "./profile";
@import "./custom";

body {
  background: #0f0f0f;
}

.modal-content {
  background-color: #0f0f0f;
}

.card {
  background-color: #0f0f0f;
  border: solid 2px #1adcad;
  margin-top: 1rem;
}